@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Poppins:200');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

.blue {
  background: #0097E6;
}
.link {
  color: #FFFFFF;
}
.link:hover {
  text-decoration: none;
  color: #FFFFFF;
}
@media screen and (max-width: 426px) {
  .err {
    font-size: 3.5vh;
    font-family: 'Poppins' , sans-serif;
    color: #0097E6;
    text-align: center;
    line-height: 20vh;
    background: #FFFFFF;
    margin: 2vh;
    padding: 5vh 0vw;
  }
  #Ahead {
    background: #0097E6;
    padding: 10px;
    color: #FFFFFF;
    width: 80%;
    margin: 40% auto 0 auto;
    font-family: 'Varela Round' , sans-serif;
  }
  #answers {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .answers {
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    background-color: #fefefe;
    margin: 0 auto; /* 15% from the top and centered */
    padding: 10px;
    color: #0097E6;
    text-align: left;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .rw-item1 , .rw-item3 {
    width: 100%;
		height: 15vh;
    text-align: center;
    border-radius: 0;
  }
  #reply {
    text-align: center;
    font-size: 2vh;
    color: #E42C64;
  }
  #answer {
    font-weight: bold;
    font-family: 'Poppins' , sans-serif;
  }
  .Container {
    padding: 0vw 2vh;
  }
  #ans-btn {
    background: #FF6D00;
    text-align: center;
    padding: 2vh 0vh;
    font-size: 2.5vh;
    color: #FFFFFF;
    margin: 4vh 0vw;
    border: none;
    border-radius: 4px;
    width: 100%;
  }
  #ans {
    color: #0097E6;
    font-size: 2.5vh;
    letter-spacing: 2px;
    word-spacing: 4px;
    border: 2px solid #0097E6;
    border-radius: 4px;
    width: 100%;
    height: 50vh;
    resize: none;
  }
  #date {
    color: #F44336;
    font-size: 2vh;
    margin: 4vh 0vw;
    letter-spacing: 2px;
    word-spacing: 4px;
  }
  #ques {
    color: #0097E6;
    font-size: 2.5vh;
    margin: 4vh 0vw;
    letter-spacing: 2px;
    word-spacing: 4px;
  }
  #AnsHead {
    text-align: center;
    padding: 1vh;
    color: #FFFFFF;
    background: #E71C23;
    font-family: 'Varela Round' , sans-serif;
    font-weight: lighter;
    font-size: 2.5vh;
  }
  #exdt {
    display: none;
  }
  #close {
    text-align: right;
    float: right;
    color: #FFFFFF;
    font-size: 3vh;
    padding-top: 1vh;
    padding-right: 2vh;
    font-weight: bold;
    cursor: pointer;
  }
  #modal {
    display: none;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding-top: 20%;
    padding-bottom: 50%;
    background: rgba(0,0,0,0.4);
  }
  #modal-header {
    display: block;
    letter-spacing: 4px;
    color: #FFFFFF;
    background:#0097E6;
    text-align: center;
    font-size: 2vh;
    padding: 2vh;
    font-weight: bold;
    font-family: 'Poppins' , sans-serif;
  }
  #modal-content {
    background: #FFFFFF;
    width: 100%;
    margin: 0vh 2vh;
  }
  #cbtn {
    display: block;
    padding: 2vh 0vh;
    margin: 10vw .3vh 1vh .2vh;
    background: #E42C64;
    text-align: center;
    font-size: 2.5vh;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    width: 100%;
    border: none;
    color: #FFFFFF;
    letter-spacing: 4px;
    border-radius: 5px;
  }
  .close {
    font-size: 8vw !important;
    color: #FFFFFF !important;
    opacity: 1 !important;
  }
  .c-input {
    display: block;
    border-radius: 2px;
    width: 100%;
    margin: 0vh .3vh 10vw .2vh;
    padding: 5px 0px;
    border: none;
    border-bottom: 2px solid rgba(0,151,230,.5);
    color: rgba(0,151,230,.5);
    resize: none;
  }
  .c-input::placeholder {
    color: rgba(0,151,230,.5);
  }
  .c-input:focus {
    border: none;
    border-bottom: 2px solid rgba(0,151,230,.5);
    outline: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.25);    
    margin-top: 2vw;
    padding: 2vw;
  }
  #cimg {
    padding: 2vh;
    text-align: center;
    margin: 1vh .3vh 1vh .2vh;
    border-radius: 2px;
    color: #0097E6;
    border: 2px solid #0097E6;
    display: block;
    font-size: 2vh;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 2px;
  }
  #image {
    display: none;
  }
  #cname , #ctitle , #cexp , #cmsg {
    border-radius: 2px;
    display: block;
    color: #0097E6;
    font-size: 5vw;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    margin: 1vh .3vh 0vh .2vh;
  }
  .city {
    margin: 1vh;
    text-align: center;
    color: #0097E6;
    font-size: 2vh;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
  }
  .city:hover {
    color: #FF6D00;
  }
  #button-grp {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  #btn1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #btn2 {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  #btn1 , #btn2 {
    text-align: center;
    background: #FF6D00;
    border: none;
    padding: 1vw 1vh;
  }
  #ask-label {
    color: #0097E6;
    display: block;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    font-size: 4vh;
  }
  #ask-text {
    display: block;
    width: 100%;
    resize: none;
    height: 14vh;
    background: rgba(0,151,230,.5);
    border: 2px solid #0097E6;
    color: #0097E6;
  }
  #ask-text::placeholder {
    color: #0097E6;
  }
  .Issue {
    margin: 2vh;
    padding: 2vh;
    font-family: 'Poppins' , sans-serif;
    background: #FFFFFF;
  }
  .question {
    font-size: 2.5vh;
    margin-bottom: 2vh;
    color: #0097E6;
    font-family: 'Poppins' , sans-serif;
    font-weight: bolder;
  }
  .ans-it {
    border: 1px solid #FF6D00;
    border-radius: 4px;
    background: #FF6D00;
    font-family: 'Poppins' , sans-serif;
    padding: 1vh 2vh;
    font-size: 2vh;
    display: inline;
    margin: 0px 10px;
    color: #FFFFFF;
  }
  .Issue > a:hover{
    text-decoration: none;
  }
  .view-ans {
    font-size: 2vh;
    color: #FF6D00;
    font-family: 'Poppins' , sans-serif;
    padding: 8px;
    display: inline;
    margin: 0px 10px;
  }
  #query > #heading {
    margin: 2vh;
    color: #0097E6;
    font-size: 2.5vh;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 5px;
  }
  #qbtn {
    display: block;
    margin: 2vh;
    background: #FF6D00;
    letter-spacing: 2px;
    word-spacing: 5px;
    color: #FFFFFF;
    padding: 1vh 2vh;
    text-align: center;
  }
  #q {
    display: block;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 5px;
    color: #0097E6;
    padding: 2vh;
  }
  #query {
    background: #F6F8F8;
  }
  hr {
    margin: 1vh 2vw;
    height: 2px;
  }
  #sl > div {
    border: 2px solid #FFFFFF;
    background: #FF6D00;
    color: #FFFFFF;
    padding: 1vh 2vh;
    display: block;
    text-align: center;
  }
  #sl {
    margin-top: 5vh;
  }
  #dt1 > div , #dt2 > div , #dt3 > div {
    display: block;
    padding: 1vh 0vh;
  }
  #dt {
    color: #FFFFFF;
    margin: 0vh 2vh 4vh 2vh;
    padding: 4vh 2vh;
  }
  #rs , #exrs {
    background: #E42C64;
    display: block;
    line-height: 20vh;
    text-align: center;
    color: #FFFFFF;
    font-size: 5vh;
    margin: 0vh 2vh;
  }
  #gp {
    background: #0097E6;
    border-radius: 5px;
    margin: 10vw 4vw;
    text-align: center;
    display: block;
    padding: 2vw 0vw;
    color: #FFFFFF;
  }
  #gp:hover {
    text-decoration: none;
  }
  #exrs {
    margin: 2vh;
  }
  #cd {
    background: #0097E6;
    font-family: 'Poppins' , sans-serif;
  }
  .modal-title {
    font-size: 5vw;
  }
  .ExOfinfo {
    display: none;
  }
  .Ofinfo {
    margin: 2vh;
    text-align: center;
    color: #F44336;
    font-weight: bold;
  }
  #p {
    display: none;
  }
  #p6 , #p12 {
    display: inline;
  }
  .Ofbtn {
    display: block;
    margin: 2vh;
    text-align: center;
    border: 2px solid #F44336;
    color: #F44336;
    padding: 2.5vh;
  }
  #plans > p {
    text-align: center;
    color : #F44336;
    margin: 2vh;
    font-weight: bold;
    font-size: 3vh;
  }
  header {
    text-align: center;
    color: #FFFFFF;
    padding: 2vh;
  }
  #Info1 {
    padding: 4vw;
    color: #0097E6;
    margin: 0px;
    font-family: 'Poppins' , sans-serif;
  }
  .AbSub {
    font-weight: bold;
    word-spacing: 2px;
    letter-spacing: .5px;
    font-size: 6vw;
    margin-bottom: 2vw;
  }
  #mt {
    font-size: 7vw;
    font-family: 'Poppins' , sans-serif;
    color: #0097E6;
    font-weight: bold;
    margin: 10vw;
  }
  #Info1 > p {
    word-spacing: 2px;
    letter-spacing: .5px;
    font-size: 4vw;
    line-height: 8vw;
  }
  #fn , #fe , #fm {
    display: block;
    font-size: 2.5vh;
  }
  #f-name:focus , #f-email:focus , #f-msg:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #0097E6;
  }
  #f-name , #f-email , #f-msg {
    width: 100%;
    display: block;
    border: none;
    font-family: 'Poppins' , sans-serif;
    border-bottom: 2px solid #0097E6;
    margin-bottom: 1vw;
    background: #EAF0F1;
    color: #0097E6;
    font-weight: lighter;
  }
  #f-msg {
    resize: none;
    height: 14vh;
  }
  #f-submit {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background: #FF6D00;
    font-family: 'Poppins' , sans-serif;
    text-align: center;
    border: none;
    padding: 1vh 3vh;
    display: block;
    margin-top: 2vh;
    color: #FFFFFF;
    width: 100%;
  }
  .sticky + #cont {
    padding-top: 4vw;
  }
  #cont {
    background: #EAF0F1;
    padding: 2vw 2vw;
  }
  #contact {
  }
  #ct-h , #fdbk-h {
    padding: 5px 0px;
    text-align: center;
    font-family: 'Varela Round' , sans-serif;
    font-size: 3vh;
  }
  .ct-info {
    padding: 2px 10px;
    font-family: 'Poppins' , sans-serif;
    font-size: 2.5vh;
    margin-top: 1vh;
  }
  #ct-sl {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    padding: 5px 0px;
    background: #FF6D00;
    color: #FFFFFF;
    margin: 2vh 0vh;
    font-size: 3vh;
    font-family: 'Poppins' , sans-serif;
    font-weight: bolder;
  }
  #contact-us {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
    color: #FFFFFF;
  }
  #fdbk {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0px 10px 10px 10px;
    display: block;
    background: #FFFFFF;
    color: #0097E6;
  }
  #rw-grid {
    padding: 4vw;
    background: #E42C64;
    color: #FFFFFF;
    font-family: 'Poppins' , sans-serif;
    font-size: 4vw;
    font-weight: bold;
    word-spacing: 2px;
  }
  #rw-grid > div {
    letter-spacing: 1px;
    display: block;
    margin: 2vh 0vh;
    text-align: center;
  }
  .user1 , .user2 {
    display: block;
    color: #F6E58D;
    font-size: 3vh;
  }
  #rw-h {
    font-family: 'Varela Round' , sans-serif;
    padding: 4vw;
    color: #FFFFFF;
    background: #E42C64;
    font-size: 5vw;

  }
  footer {
    display: block;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 3vh;
  }
  #send-dt {
    background: #E42C64;
    text-decoration: none;
    text-align: center;
    font-size: 5vw;
    color: #FFFFFF;
    padding: 4vw;
    margin: 11vw 1vw;
    margin-bottom: 0vw;
    display: block;
    cursor: pointer;
    border-radius: 5px;    
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
  }
  #employee {
    width: 100%;
    height: 100%;
  }
  #cr {
    padding: 4vw;
    color: #0097E6;
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
  }
  #cr1 {
   font-size: 4vw;
   line-height: 8vw;
   font-weight: bold;
  }
  #cr-h {
    letter-spacing: 1px;
    margin: 2vh 0vh;
    font-family: 'Varela Round', sans-serif;
    font-size: 4vh;
  }
  #get-now {
    background: #E42C64;
    text-decoration: none;
    text-align: center;
    font-size: 5vw;
    color: #FFFFFF;
    padding: 3vw;
    margin: 10vw 1vw;
    margin-bottom: 0vw;
    display: block;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
  }
  #ex-of {
    margin-top: 5vw;
    padding: 4vw;
    background-image: linear-gradient(#0097E6,#24C6DC);
    color: #FFFFFF;
    font-size: 4vw;
    letter-spacing: 1.5px;
    font-family: 'Poppins', sans-serif;
  }
  #ex-of-h {
    letter-spacing: 1px;
    font-family: 'Varela Round', sans-serif;
    font-size: 5vw;
    margin-bottom: 5vw;
  }
  .check {
    margin: 10px 0px;
  }
  .check-text {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #0097E6;
    border: 2px solid rgba(0,151,230,0.4);
    padding: 5px 10px;
  }
  .check-text::placeholder {
    color: #0097E6;
    opacity: 0.5;
  }
  .check-btn {
    display: block;
    width: 80%;
    padding: 5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border: 1px solid #0097E6;
  }
  .heading2 {
    color: #0097E6;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 7vw;
    margin: 11vw 0vw 2vw 4vw;
  }
  .grid-container {
    padding-left: 4vw;
  }
  .grid-container > div {
    display: block;
  }
  .item1 {
    color: #0097E6;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    font-size: 5vw;
    line-height: 10vw;
    padding-right: 4vw;
  }
  #antenna {
    display: none;
  }
  :local(.btn) {
    font-family: 'Poppins' , sans-serif;
    margin: 0px 8px 10px 8px;
    text-align: center;
    display: inline-block;
    padding: 5px 50px;
    background: #FF6D00;
    border: none;
    color: #FFFFFF !important;
  }
  :local(.btn):hover {
    text-decoration: none;
  }
  .Toggle > i {
    font-size: 5vw;
    font-weight: lighter;
    text-align: right;
    color: #0097E6;
    padding: 4vw;
    display: inline-block;
  }
  .Nav-item {
    display: none;
    text-align: center;
    padding: 10px 0px;
  }
  #Navbar {
    margin: 0;
    padding: 0;
    background-color: #3498DB;    
  }
  .Nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 5vw;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
  }
  #Nav {
    background: #FFFFFF;
  }
  .Nav-link:hover {
    text-decoration: none;
    color: #F6E58D;
  }
  .Active {
    display: block;
  }
  #Booking {
    margin: 2vh;
  }
  #Booking > h2 {
    color: #0097E6;
    font-size: 5vh;
  }
  #name , #phone , #city , #state {
    font-size: 2vh;
    border: none;
    border-bottom: 2px solid #0097E6;
    background: #ECF0F1;
    padding: 10px;
    color: #0097E6;
    display: block;
    width: 100%;
    margin: 2vh 0vh;
  }
  #name:focus , #phone:focus , #city:focus , #state:focus {
    border-bottom: 2px solid rgba(0,151,230,0.5);
    outline: none;
  }
  #name::placeholder , #phone::placeholder , #city::placeholder , #state::placeholder ,
  #address::placeholder {
    font-size: 2vh;
    color: rgba(0,151,230,0.5);
  }
  #address {
    resize: none;
    margin: 2vh 0vw;
    height: 20vh;
    width: 100%;
    font-size: 2vh;
    border: none;
    border-bottom: 2px solid #0097E6;
    background: #ECF0F1;
    padding: 10px;
    color: #0097E6;
  }
  #Offer-sel {
    width: 100%;
    padding: 2vh;
    background: rgba(0,151,230,0.7);
    color: #FFFFFF;
    margin: 2vh 0vw;
  }
  #Shead {
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    font-size: 3vh;
    text-align: center;
    margin-bottom: 4vh;
    word-spacing: 4px;
    letter-spacing: 4px;
  }
  #Sdt1  > div , #Sdt2 > div ,  #Sdt3 > div {
    display: block;
    margin: 1vh 0vw;
    font-size: 3vh;
    text-align: center;
    font-family: 'Poppins' , sans-serif;
  }
  #price {
    display: block;
    font-size: 2vh;
    text-align: center;
    margin-top: 5vh;
    padding: 1vh 0vw;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
  }
  #book ,#clear {
    display: block;
    background: #FF6D00;
    outline: none;
    padding: 1vh;
    text-align: center;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    font-size: 3vh;
    color: #FFFFFF;
    margin: 4vh 0vw;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 8px #e67e22;
    border-radius: 5px;
    width: 100%;
  }
  #book:hover , #clear:hover {background-color: #FF6D25}

  #book:active , #clear:active {
  background-color: #FF6D33;
  box-shadow: 0 5px #e67e22;
  transform: translateY(4px);
  }
  .home {
    padding: 4vw;
  }
  .Toggle > div {
    text-align: left;
    display: inline;
    padding-left: 30vw; 
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    font-size: 5vw;
    letter-spacing: 2px;
    color: #0097E6;
  }
  #com {
    font-size: 8vw;
    color: #FFFFFF;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    margin: 5vw 0vw;
    display: block;
  }
  #intro {
    font-size: 4vw;
    color: #FFFFFF;
    font-family: 'Poppins' , sans-serif;
    line-height: 8vw;
  }
  #booknow {
    background-color: #FFFFFF;
    padding: 2vw;
    font-family: 'Poppins' , sans-serif;
    margin: 6vw 0vh;
    font-size: 5vw;
    font-weight: bold;
    color: #0097E6;
    border-radius: 10px;
    display: block;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.4);
  }
  #booknow:hover {
    text-decoration: none;
  }
  #booknow:active {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
  }
  #broadband {
    width: 40vw;
    height: 25vw;
    display: none;
  }
}
@media screen and (min-width: 426px) {
  #Ahead {
    background: #0097E6;
    padding: 10px;
    color: #FFFFFF;
    width: 80%;
    margin: 10% auto 0 auto;
    font-family: 'Varela Round' , sans-serif;
  }
  #answers {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .answers {
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    background-color: #fefefe;
    margin: 0 auto; /* 15% from the top and centered */
    padding: 10px;
    color: #0097E6;
    text-align: left;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .rw-item1 {
    width: 100%;
    height: 10vw;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .rw-item3 {
    width: 100%;
		height: 10vw;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  #reply {
    text-align: center;
    font-size: 2vw;
    color: #E42C64;
  }
  .errorMsg {
    display: block;
    color: rgb(231,76,60);
    font-weight: bold;
    font-family: 'Poppins' , sans-serif;
    margin: 5px 0px;
  }
  .err {
    font-size: 3.5vw;
    font-family: 'Poppins' , sans-serif;
    color: #0097E6;
    text-align: center;
    line-height: 20vw;
    background: #FFFFFF;
    margin: 2vw;
    padding: 5vw 0vw;
  }
  #Booking {
    margin: 4vw;
  }
  #Booking > h2 {
    color: #0097E6;
    font-size: 3vw;
  }
  #sbtn {
    display: grid;
  }
  #book {
    grid-column-start: 1;
    grid-column-end: 2;
    background: #FF6D00;
    padding: 1vw;
    text-align: center;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    font-size: 2vw;
    color: #FFFFFF;
    margin: 2vw 0vw;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 8px #e67e22;
    border-radius: 5px;
  }
  #book:hover , #clear:hover {background-color: #FF6D25}

  #book:active , #clear:active {
  background-color: #FF6D33;
  box-shadow: 0 5px #e67e22;
  transform: translateY(4px);
  }
  #clear {
    grid-column-start: 3;
    grid-column-end: 4;
    background: #FF6D00;
    padding: 1vw;
    text-align: center;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    font-size: 2vw;
    color: #FFFFFF;
    margin: 2vw 0vw;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 8px #e67e22;
    border-radius: 5px;
  }
  #Shead {
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 4vw;
    word-spacing: 4px;
    letter-spacing: 4px;
  }
  #price {
    display: block;
    font-size: 2vw;
    text-align: center;
    padding: 1vw 0vw;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
  }
  #Offer-sel {
    width: 100%;
    padding: 2vw;
    background: rgba(0,151,230,0.7);
    color: #FFFFFF;
    margin: 2vw 0vw;
    text-align: left;
  }
  #Sdt1 , #Sdt2 ,  #Sdt3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 1vw 0vw;
    font-size: 1.5vw;
    font-family: 'Poppins' , sans-serif;
  }
  #address {
    resize: none;
    margin: 2vw 0vw;
    height: 10vw;
    width: 100%;
    font-size: 1.5vw;
    border: none;
    border-bottom: 2px solid #0097E6;
    background: #ECF0F1;
    padding: 10px;
    color: #0097E6;
  }
  #personal , #location {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4vw;
    margin-top: 2vw;
  }
  #name , #phone , #city , #state {
    font-size: 1.5vw;
    border: none;
    border-bottom: 2px solid #0097E6;
    background: #ECF0F1;
    padding: 10px;
    color: #0097E6;
  }
  #name:focus , #phone:focus , #city:focus , #state:focus , #address:focus {
    border-bottom: 2px solid rgba(0,151,230,0.5);
    outline: none;
  }
  #name::placeholder , #phone::placeholder , #city::placeholder , #state::placeholder ,
  #address::placeholder {
    font-size: 1.5vw;
    color: rgba(0,151,230,0.5);
  }
  #answer {
    font-weight: bold;
    font-family: 'Poppins' , sans-serif;
  }
  .Container {
    padding: 0vw 2vw;
  }
  #ans-btn {
    background: #FF6D00;
    text-align: center;
    padding: 2vh 0vh;
    font-size: 2vw;
    color: #FFFFFF;
    margin: 2vw 0vw;
    border: none;
    border-radius: 4px;
    width: 100%;
  }
  #ans {
    color: #0097E6;
    font-size: 2vw;
    letter-spacing: 2px;
    word-spacing: 4px;
    border: 2px solid #0097E6;
    border-radius: 4px;
    width: 100%;
    height: 20vw;
    resize: none;
  }
  #date {
    color: #F44336;
    font-size: 1.5vw;
    margin: 4vw 0vw;
    letter-spacing: 2px;
    word-spacing: 4px;
  }
  #ques {
    color: #0097E6;
    font-size: 2vw;
    margin: 4vw 0vw;
    letter-spacing: 2px;
    word-spacing: 4px;
  }
  #AnsHead {
    text-align: center;
    padding: 1vh;
    color: #FFFFFF;
    background: #E71C23;
    font-family: 'Varela Round', sans-serif;
    font-size: 2vw;
    font-weight: lighter;
  }
  #close {
    text-align: right;
    float: right;
    color: #FFFFFF;
    font-size: 2vw;
    padding: 1vh 2vh;
    font-weight: bold;
    cursor: pointer;
  }
  #xp6 , #xp12 {
    display: none;
  }
  #ExOff {
    display: grid;
    margin: 2vw;
    width: 80vw;
  }
  #exrs {
    background: #E42C64;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 11vw;
    line-height: 11vw;
    text-align: center;
    color: #FFFFFF;
    font-size: 2vw;
  }
  #exdt {
    grid-column-start: 2;
    grid-column-end: 4;
    height: 11vw;
    color: #FFFFFF;
  }
  #gp {
    background: #E42C64;
    border-radius: 5px;
    margin: 2vw auto;
    width: 20vw;
    text-align: center;
    display: block;
    padding: 1vw 0vw;
    color: #FFFFFF;
  }
  #gp:hover {
    text-decoration: none;
  }
  #cd {
    background: #0097E6;
    font-family: 'Poppins' , sans-serif;
    font-size: 1.5vw;
  }
  .modal-title {
    font-size: 2vw;
  }
  #ExOff > #sl {
    display: flex;
    justify-content: center;
  }
  #ExOff > #sl > div {
    text-align: center;
    border: 2px solid #FFFFFF;
    background: #FF6D00;
    padding: 1vh 5vw;
    font-size: 1.2vw;
  }
  #modal {
    display: none;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 50%;
    background: rgba(0,0,0,0.4);
  }
  #modal-header {
    display: block;
    letter-spacing: 4px;
    text-align: center;
    color: #FFFFFF;
    background: #0097E6;
    font-size: 2vw;
    padding: 2vh;
    font-weight: bold;
    font-family: 'Poppins' , sans-serif;
  }
  #modal-content {
    background: #FeF1F1;
  }
  .Ofinfo {
    font-weight: bold;
    font-size: 1.5vw;
    text-align: center;
    color: #F44336;
    padding: 2vh 0vh;
  }
  #Ofbtng , #Ofinfg{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 2vh 8vw;
    grid-gap: 2vw;
  }
  .Ofbtn {
    border: 2px solid #F44336;
    width: 100%;
    text-align: center;
    color: #F44336;
    padding: 2vh 0vh;
  }
  #cbtn {
    display: block;
    padding: 1.5vw 0vh;
    margin: 4vw .3vw 1vw .2vw;
    background: #E42C64;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    width: 100%;
    border: none;
    color: #FFFFFF;
    letter-spacing: 4px;
    border-radius: 5px;
  }  
  .close {
  font-size: 3vw !important;
  color: #FFFFFF !important;
  opacity: 1 !important;
  }
  .c-input {
    display: block;
    border-radius: 2px;
    width: 100%;
    margin: 0vw .3vw 3vw .2vw;
    padding: 1vh 0vh;
    border: none;
    border-bottom: 2px solid rgba(0,151,230,.5);
    color: #0097E6;
    font-size: 1.2vw;
    resize: none;
  }
  .c-input::placeholder {
    color:rgba(0,151,230,.5);
  }
  .c-input:focus {
    border: none;
    border-bottom: 2px solid rgba(0,151,230,.5);
    outline: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
    margin-top: 1vh;
    padding: 1vw; 
  }
  #cimg {
    padding: 1.2vw;
    display: block;
    text-align: center;
    margin: 2vw 0vw 0vw .2vw;
    border-radius: 5px;
    color: #0097E6;
    border: 2px solid #0097E6;
    font-size: 1.2vw;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
  }
  #image {
    display: none;
  }
  #cname , #ctitle , #cexp , #cmsg {
    border-radius: 2px;
    display: block;
    color: #0097E6;
    font-size: 1.2vw;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    margin: 2vw 0vw 0vw .2vw;
  }
  .city {
    margin: 1vw;
    text-align: center;
    color: #0097E6;
    font-size: 2vw;
    font-family: 'Poppins' , sans-serif;
  }
  .city:hover {
    color: #FF6D00;
  }
  #button-grp {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  #btn1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #btn2 {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  #btn1 , #btn2 {
    text-align: center;
    background: #FF6D00;
    border: none;
    padding: 1vh 1vw;
  }
  #ask-label {
    color: #0097E6;
    display: block;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    font-size: 2vw;
  }
  #ask-text {
    display: block;
    width: 100%;
    resize: none;
    height: 8vw;
    background: rgba(0,151,230,.5);
    border: 2px solid #0097E6;
    color: #0097E6;
  }
  #ask-text::placeholder {
    color: #0097E6;
  }
  .Issue {
    margin: 2vw;
    padding: 2vw 3vw;
    font-family: sans-serif;
    background: #FFFFFF;
  }
  .question {
    font-size: 1.5vw;
    margin-bottom: 4vh;
    color: #0097E6;
    font-family: 'Poppins' , sans-serif;
    font-weight: bolder;
  }
  .ans-it {
    border: 1px solid #FF6D00;
    border-radius: 4px;
    background: #FF6D00;
    font-family: 'Poppins' , sans-serif;
    padding: 1vh 4vh;
    font-size: 1.2vw;
    display: inline;
    margin: 0px 10px;
    color: #FFFFFF;
  }
  .Issue > a:hover{
    text-decoration: none;
  }
  .view-ans {
    font-size: 1.2vw;
    color: #FF6D00;
    font-family: 'Poppins' , sans-serif;
    padding: 8px;
    margin: 0px 10px;
    display: inline;
  }
  #query {
    background: #F6F8F8;
  }
  hr {
    margin: 1vh 2vw;
    height: 2px;
  }
  #query > #heading {
    margin: 2vw;
    color: #0097E6;
    font-size: 2vw;
  }
  #QGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2vw;
  }
  #q {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 3vw;
    color: #0097E6;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
  }
  #qbtn {
    grid-column-start: 3;
    grid-column-end: 4;
    border-radius: 5px;
    background-color: #FF6D00;
    height: 8vh;
    line-height: 8vh;
    text-align: center;
    color: #FFF;
    font-size: 2vw;
  }
  #p6 , #p12 {
    display: none;
  }
  #Off {
    display: grid;
    margin: 2vw 8vw;
  }
  #rs {
    background: #F44336;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 16vw;
    line-height: 16vw;
    text-align: center;
    color: #FFFFFF;
    font-size: 2vw;
  }
  #dt {
    grid-column-start: 2;
    grid-column-end: 4;
    height: 16vw;
    color: #FFFFFF;
  }
  #dt1 , #dt2 , #dt3 , #edt1 , #edt2 , #edt3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 2vh;
    font-size: 1.2vw;
    word-spacing: 4px;
    letter-spacing: 1px;
  }
  #sl {
    display: flex;
    justify-content: center;
  }
  #sl > div {
    text-align: center;
    border: 2px solid #FFFFFF;
    background: #FF6D00;
    padding: 1vh 5vw;
    font-size: 1.2vw;
  }
  .Ofinfo {
    font-weight: bold;
    font-size: 1.5vw;
    text-align: center;
    color: #F44336;
    padding: 2vh 0vh;
  }
  #Ofbtng , #Ofinfg{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 2vh 8vw;
    grid-gap: 2vw;
  }
  .Ofbtn {
    border: 2px solid #F44336;
    width: 100%;
    text-align: center;
    color: #F44336;
    padding: 2vh 0vh;
  }
  #plans > p {
    text-align: center;
    color: #F44336;
    font-weight: bold;
    font-size: 3vw;
  }
  header {
    color: #FFFFFF;
    padding: 3vw;
    text-align: center;
    margin-bottom: 4vh;
    font-family: 'Poppins' , sans-serif;
    font-size: 5vw;
    font-weight: bolder;
  }
  #mt {
    font-size: 3vw;
    font-family: 'Poppins' , sans-serif;
    color: #0097E6;
    font-weight: bold;
    margin: 4vw;
  }
  #Info1 > p {
    font-family: 'Poppins' , sans-serif;
    margin: 10px 0px;
    word-spacing: 4px;
    font-size: 2vw;
    line-height: 4vw;
    letter-spacing: .5px;
  }
  #AbInfo {
    padding: 0vw;
    margin-top: 2vh;
  }
  #Info1 {
    color: #0097E6;
    padding: 0vw 4vw;
    font-family: 'Poppins' , sans-serif;
  }
  .AbSub {
    font-size: 3vw;
    font-weight: bold;
    margin-top: 4vw;
  }
  #fn , #fe , #fm {
    display: block;
    font-size: 17px;
  }
  #f-name , #f-email , #f-msg {
    width: 100%;
    display: block;
    border: 1px solid #0097E6;
    margin-bottom: 1vw;
    color: #0097E6;
  }
  #f-msg {
    resize: none;
    height: 14vh;
  }
  #f-submit {
    letter-spacing: 4px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    background: #FF6D00;
    font-family: 'Poppins' , sans-serif;
    text-align: center;
    border: none;
    padding: 1vh 3vh;
    display: block;
    margin-top: 2vh;
    color: #FFFFFF;
    width: 100%;
  }
  .sticky + #cont {
    padding-top: 4vw;
  }
  #cont {
    background: #EAF0F1;
    padding: 2vw 2vw;
  }
  #contact {
    display: grid;
    grid-template-columns: auto 0px auto;
    margin: 2vw 2vw;
  }
  #ct-h , #fdbk-h {
    margin: 3vw;
    font-family: 'Varela Round' , sans-serif;
    font-size: 3vw;
  }
  .ct-info {
    margin-left: 3vw;
    font-family: 'Poppins' , sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-top: 1vh;
  }
  #ct-sl {
    text-align: center;
    background: #FFFFFF;
    color: #0097E6;
    margin: 5vw 0vh;
    font-size: 15px;
    font-family: 'Poppins' , sans-serif;
    font-weight: bolder;
  }
  #contact-us {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #FFFFFF;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #fdbk {
    padding: 0px 20px 20px 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #FFFFFF;
    color: #0097E6;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  #rw-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2vw 4vw;
    background: #E42C64;
    color: #FFFFFF;
    font-family: 'Poppins' , sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    word-spacing: 2px;
  }
  #rw-grid > div {
    width: 25vw;
  }
  .user1 , .user2 {
    display: block;
    color: #F6E58D;
  }
  #rw-h {
    font-family: 'Varela Round' , sans-serif;
    padding: 2vw 4vw;
    margin-top: 4vw;
    color: #FFFFFF;
    background: #E42C64;
    font-size: 3vw;
  }
  footer {
    display: block;
    text-align: center;

    color: #FFFFFF;
    padding: 10px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
  }
  #get-now {
    width: 20vw;
    background: #E42C64;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    padding: 2vh 2vw;
    margin-top: 5vh;
    display: block;
    cursor: pointer; 
    border-radius: 5px;
  }
  #send-dt {
    width: 30vw;
    border: 2px solid #E42C64;
    text-decoration: none;
    text-align: center;
    color: #E42C64;
    padding: 2vh 2vw;
    margin-top: 5vh;
    display: block;
    cursor: pointer;    
    border-radius: 5px;
  }
  #employee {
    width: 40vw;
    height: 40vw;
  }
  #cr {
    padding: 4vw;
    color: #0097E6;
    display: grid;
    font-size: 2.5vw;
    font-family: 'Poppins', sans-serif;
  }
  #cr1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #cr2 {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 0px;
  }
  #cr3 {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  #cr-h {
    margin: 2vw 0vh;
    font-family: 'Varela Round', sans-serif;
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: 2px;
  }
  #ex-of {
    margin-top: 5vw;
    padding: 4vw;
    background-image: linear-gradient(#0097E6,#24C6DC);
    color: #FFFFFF;
    font-size: 2.5vw;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
  }
  #ex-of-h {
    font-family: 'Varela Round', sans-serif;
    font-size: 3vw;
    font-weight: bold;
  }
  .grid-container {
    display: grid;
    margin: 0px 4vw;
    padding: 0px;
  }
  .grid-container > div {
    background-color: rgba(255, 255, 255, 1);
    padding: 0px 0px 20px 0px;
  }
  .item1 {
    font-family: 'Poppins' , sans-serif;
    font-size: 2vw;
    font-weight: 800;
    color: #0097E6;
    line-height: 4vw;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: left;
  }
  .item2 {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  #antenna {
    padding: 0px 10px;
    width: 20vw;
    height: 25vw;
  }
  .heading2 {
    color: #0097E6;
    font-family: 'Varela Round', sans-serif;
    font-size: 3vw;
    margin: 4vw 0vw 0vw 4vw;
  }
  .check {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
  }
  .check-text {
    color: #0097E6;
    width: 30vw;
    border: 2px solid #0097E6;
    padding: 1.5vh;
    font-size: 1.5vw;
  }
  .check-text::placeholder {
    color: #0097E6;
    opacity: 0.5;
  }
  .check-btn {
    width: 15vw;
    color: #FFFFFF;
    text-align: center;
    border: none;
  }
  body {
    margin: 0px;
    padding: 0px;
  }
  :local(.btn) {
    font-family: 'Poppins' , sans-serif;
    margin: -100px 6vw 0px 0px;
    padding: 10px 5vw;
    background: #FF6D00;
    border: none;
    float: right;
    color: #FFFFFF !important;
    text-decoration: none;
  }
  :local(.btn):hover {
    text-decoration: none;
  }
  .Toggle {
    display: none;
  }
  #Nav {
    text-align: left;
  }
  .Nav-item {
    display: inline-block;
    padding: 2vw;
  }
  .Nav-link:hover {
    text-decoration: none;
    color: #E42C64;
  }
  .Nav-link {
    text-decoration: none;
    color: #0097E6;
    font-size: 1.5vw;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
  }
  #Navbar {
    margin-bottom: 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    padding-left: 2vw;
  }
  .home {
    display: grid;
    padding: 4vw;
    width: 100%;
  }
  #home1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #home2 {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 0;
  }
  #home3 {    
    grid-column-start: 3;
    grid-column-end: 4;
  }
  #com {
    font-size: 3vw;
    color: #FFFFFF;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
  }
  #intro {
    font-size: 2vw;
    color: #FFFFFF;
    font-family: 'Poppins' , sans-serif;
    margin: 2vw 0vh;
    line-height: 4vw;
  }
  #booknow {
    background-color: #FFFFFF;
    padding: 2vh 2vw;
    font-family: 'Poppins' , sans-serif;
    margin: 6vh 0vh;
    font-size: 2vw;
    font-weight: bold;
    color: #0097E6;
    border-radius: 20px;
    display: block;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.4);
  }
  #booknow:hover {
    text-decoration: none;
  }
  #booknow:active {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
  }
  #broadband {
    width: 40vw;
    height: 25vw;
  }
}
@media screen and (max-width: 426px) {

  .TeamCard {
    margin: 4vw;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  }
  .Cardhead {
    display: block;
    height: 20vw;
    background: #3498DB;
    padding: 15vw;
  }
  .Cardcontent {
    border: 2px solid #3498DB;
    padding: 2vw 4vw;
    height: 70vw;
  }
  .Tprofile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20vw;
    width: 30vw;
    height: 30vw;
    border-radius: 100%;
  }
  .member {
    font-size: 5vw;
    font-family: 'Poppins' , sans-serif;
    text-align: center;
    color: #3498DB;
    font-weight: bold;
    margin: 2vw;
  }
  .AboutMember {
    font-size: 4vw;
    font-family: 'Poppins' , sans-serif;
    text-align: center;
    color: #3498DB;
    margin: 4vw 0vw;
  }
  .position {
    display: block;
    padding: 2vw 4vw;
    text-align: center;
    background: #3498DB;
    color: #FFFFFF;
    font-size: 5vw;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
  }
  #icon-grid {
    margin: 14vw 8vw;
  }
  .IconCard {
    box-shadow: 5px 5px 25px rgba(0,0,0,0.25);
    background: #FFFFFF;
    border-radius: 5px;
    height: 50vh;
    margin-bottom: 10vw;
    padding: 5vw;
  }
  .Icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    width: 30vw;
    height: 30vw;
  }
  .title {
    display: block;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 4vh;
    color: #0097E6;
    font-weight: bold;
    margin: 1vh 0vh ;
  }
  .content {
    font-family: 'Poppins' , sans-serif;
    font-size: 5vw;
    color: #0097E6;
    margin: 3vh;
    font-weight: bold;
    text-align: center;
  }
}

@media screen and (min-width: 426px) {

  .TeamCard {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  }
  .Cardhead {
    display: block;
    height: 10vw;
    background: #3498DB;
    padding: 5vw;
  }
  .Cardcontent {
    border: 2px solid #3498DB;
    padding: 2vw 1vw;
    height: 35vw;
  }
  .Tprofile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8vw;
    width: 12vw;
    height: 12vw;
    border-radius: 100%;
  }
  .member {
    font-size: 2vw;
    font-family: 'Poppins' , sans-serif;
    text-align: center;
    color: #3498DB;
    font-weight: bold;
    margin: 2vw;
  }
  .AboutMember {
    font-size: 1.5vw;
    font-family: 'Poppins' , sans-serif;
    text-align: center;
    color: #3498DB;
    margin: 2vw 0vw;
  }
  .position {
    display: block;
    padding: 1vw;
    text-align: center;
    background: #3498DB;
    color: #FFFFFF;
    font-size: 2vw;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
  }
  #icon-grid , #team-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px 4vw;
    grid-gap: 20px;
  }
  .IconCard {
    box-shadow: 5px 5px 25px rgba(0,0,0,0.25);
    background: #FFFFFF;
    border-radius: 5px;
    padding: 2vw 0vw;
  }
  .Icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    width: 10vw;
    height: 10vw;
  }
  .title {
    display: block;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 3vw;
    color: #0097E6;
    font-weight: bold;
    margin: 1vh 0vh ;
  }
  .content {
    font-family: 'Poppins' , sans-serif;
    font-size: 1.8vw;
    color: #0097E6;
    margin: 2vw;
    font-weight: bold;
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  
  .TeamCard {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  }
  .Cardhead {
    display: block;
    height: 10vw;
    background: #3498DB;
    padding: 5vw;
  }
  .Cardcontent {
    border: 2px solid #3498DB;
    padding: 2vw 1vw;
    height: 35vw;
  }
  .Tprofile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8vw;
    width: 12vw;
    height: 12vw;
    border-radius: 100%;
  }
  .member {
    font-size: 2vw;
    font-family: 'Poppins' , sans-serif;
    text-align: center;
    color: #3498DB;
    font-weight: bold;
    margin: 2vw;
  }
  .AboutMember {
    font-size: 1.5vw;
    font-family: 'Poppins' , sans-serif;
    text-align: center;
    color: #3498DB;
    margin: 2vw 0vw;
  }
  .position {
    display: block;
    padding: 1vw;
    text-align: center;
    background: #3498DB;
    color: #FFFFFF;
    font-size: 2vw;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
  }
  #icon-grid , #team-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 4vw;
    grid-gap: 4vw;
  }
  .IconCard {
    box-shadow: 5px 5px 25px rgba(0,0,0,0.25);
    background: #FFFFFF;
    border-radius: 5px;
    padding: 2vw;
  }
  .Icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8vw;
    height: 8vw;
  }
  .title {
    display: block;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 4vh;
    font-weight: bold;
    margin: 1vh 0vh ;
  }
  .content {
    font-family: 'Poppins' , sans-serif;
    font-size: 1.5vw;
    margin: 2vw 1vw;
    font-weight: bold;
    text-align: center;
  }
}