body {
  margin: 0px;
  padding: 0px;
}
.Toggle {
  display: none;
}
.Nav {
  margin-top: 0px;
  background: #F4C724;
  text-align: right;
}
.Nav-item {
  display: inline-block;
  padding: 20px;
  font-family: sans-serif;
}
.Nav-link:hover {
  color: #FFF222;
}
.Nav-link {
  text-decoration: none;
  color: #FFFFFF;
}
.Navbar {
  margin-right: 6vw;
}
.Issue {
  margin: 10px;
  padding: 14px 70px;
  font-family: sans-serif;
  border: 1px solid #000000;
}
.Issue:hover {
  background: #DAE0E2;
}
.question {
  font-size: 20px;
  margin-bottom: 4vh;
}
.ans-it {
  border: 1px solid #0ABDE3;
  border-radius: 16px;
  padding: 8px;
  font-size: 14px;
  margin: 0px 10px;
  color: #0ABDE3;
}
.ans-it:hover {
  text-decoration: none;
  background: #0ABDE3;
  color: #FFFFFF;
}
.view-ans {
  border: 1px solid #0ABDE3;
  border-radius: 16px;
  font-size: 14px;
  background: #0ABDE3;
  color: #FFFFFF;
  padding: 8px;
  margin: 0px 10px;
}
.view-ans:hover {
  text-decoration: none;
  color: #0ABDE3;
  background: #FFFFFF;
}
@media screen and (max-width: 425px) {
  .Toggle {
    font-size: 35px;
    text-align: right;
    background: #F4C724;
    color: #FFFFFF;
    padding: 0px 4px;
    display: block;
  }
  .Nav {
    margin-top: 0px;
  }
  .Nav-item {
    display: none;
    text-align: center;
  }
  .Navbar {
    margin: 0;
    padding: 0;
  }
  .Active {
    display: block;
  }
}
